---
title: BeyondTheLine/Credits
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

/ Haml

%header.nav--header
  %h1.page--title
    BEYOND THE LINE 


  %nav.nav
    .container 
      %ul
        %li
          %a{:href => "../index.html"}
            Home
        %li
          %a{:href => "../content/media"}
            Media
        %li
          %a{:href => "../content/news"}
            News
        %li
          %a{:href => "../content/contact"}
            Contact
        %li
          %a{:href => "../content/credits"}
            Credits
.credits
  %table
    .left
      %section.credits--section
        %p
          LLEWELYN
        %p
          EVAN
        %p
          AERON
        %p
          ELEN
        %p
          TOM
        %p
          WILLIAM / BARTENDER

      %section.credits--section
        %p
          PRODUCER
        %p
          PRODUCER
        %p
          WRITTEN AND DIRECTED BY
        %p
          CINEMATOGRAPHY
        %p
          PRODUCTION DESIGN
        %p
          SOUND MIXING AND DESIGN
        %p
          EDITOR
        %p
          COSTUME DESIGNER
        %p
          COSTUME DESIGNER AND SUPERVISOR
        %p
          MAKE-UP ARTIST

      %section.credits--section
        %p
          FIRST ASSISTANT DIRECTOR
        %p
          SECOND ASSISTANT DIRECTOR
        %p
          THIRD ASSISTANT DIRECTOR
        %p
          LOCATION MANAGER
        %p
          LOCATION SCOUT
        %p
          LOCATION SCOUT
        %p
          STUNT COORDINATOR
        %p
          CASTING DIRECTOR    

      %section.credits--section
        %p
          CAMERA OPERATOR   
        %p
          1st AC
        %p
          2nd AC
        %p
          GAFFER
        %p
          BEST BOY
        %p
          SPARK 
        %p
          SPARK
        %p
          KEY GRIP
        %p
          GRIP
        %p
          CONTINUITY 
        %p
          ASSISTANT CONTINUITY

      %section.credits--section
        %p
          BOOM OPERATOR

      %section.credits--section
        %p
          ART DIRECTOR                                                            
        %p
          ASSISTANT ART DIRECTOR                                  
        %p
          PROP MASTER / SET DECORATOR                                       
        %p
          SET DRESSER 

      %section.credits--section
        %p
          COSTUME ASSISTANT                                           
        %p
          COSTUME ASSISTANT                                                 
        %p
          COSTUME ASSISTANT  

      %section.credits--section
        %p
          MAKEUP ASSISTANT           
        %p
          MAKEUP ASSISTANT 

      %section.credits--section
        %p
          ASSISTANT EDITOR 
        %p
          COLOURIST 
        %p
          STILLS PHOTOGRAPHER

      %section.credits--section
        %p
          ORIGINAL SOUNTRACK COMPOSED BY         
        %p
          MUSIC RECORDER AND MIXER

      %section.credits--section
        %p
          MUSICIANS
        %p
          TAM TAM, VIBRAPHONE, BASS DRUM                        
        %p
          VIBRAPHONE 2                                                              
        %p
          PIANO     
        %p
          DOUBLEBASS
            
    .right
      %section.credits--section  
        %p
        Lee Hart
        %p
        Rhys Ap Trefor
        %p
        Seiriol Tomos
        %p
        Jessica Sandry
        %p
        Alexander Houston-Jones
        %p
        Paul Nelson
        %p
        Calum Green
        %p
        Thomas Peace
        %p
        Emilio Gamal Boutros
        %p
        Poppy Rogers
        %p
        Ruby Goodchild
        %p
        Ruben Robinson
        %p
        Sam Hodge
        %p
        Vanessa Preuss
        %p
        Thalia Jane Loonstein
        %p
        Dixie Crouch

      %section.credits--section
        %p
        Calum Green 
        %p
        Sophie Kenny
        %p
        Matthew Lloyd Hodgkin
        %p
        Hannah McCarthy
        %p
        Ellie Rudd
        %p
        Anne Mouli Castillo
        %p
        Toni Nordli
        %p
        Myriam Raja
      
      %section.credits--section  
        %p
        Tara Ayeni
        %p
        Ayesha Ramsay
        %p
        Ramzey Sabbagh
        %p
        Seth Finegold
        %p
        James Leech
        %p
        Sam Taylor
        %p
        Henry Howe
        %p
        Henry Howe
        %p
        Mark Stewart
        %p
        Myriam Raja
        %p
        Therese Skundberg Fidje
      
      %section.credits--section  
        %p
        Pietro Novello
      
      %section.credits--section  
        %p
        Anne Mouli Castillo
        %p
        Alexandra Thompson
        %p
        Josie Roussow
        %p
        Holly Nicholds
      
      %section.credits--section  
        %p
        Lucy Thaxter
        %p
        Dominic Mayer
        %p
        Ella Eaton

      %section.credits--section
        %p
        Georgia Brown
        %p
        Beccie Stock
      
      %section.credits--section
        %p
        Bethany Louise Harvey
        %p
        Daniel Garden
        %p
        Veronica Skoglund
      
      %section.credits--section
        %p
        Gabriel Boutros
        %p
        Alban Li
        %p
        Sylvain Thomas
        %p
        Quentin Dubreuil
        %p
        Gabriel Boutros
        %p
        Valerie Hamidi
